# Ignore any bundles installed, and all tmp and backup files
# backup files might contain sensitive information
.mono
KeePass
QtProject.conf
Trolltech.conf
Yubico
arkrc
autostart/
baloofilerc
bluedevilglobalrc
calibre
chromium
dconf
dolphinrc
drkonqirc
emaildefaults
evolution
fontconfig/
freshwrapper-data
google-chrome
gtk-2.0
gtk-3.0
gtkrc
gtkrc-2.0
kactivitymanagerdrc
kate*
kcmfonts
kcminputrc
kconf_updaterc
kde.org/
kde5-nm-connection-editorrc
kdebugrc
kded_device_automounterrc
kdeglobals
kfontinstuirc
kgammarc
kglobalshortcutsrc
khotkeysrc
kickoffrc
kickoffrc.VE2251
kmixctrlrc
kmixrc
konsole.notifyrc
konsolerc
konversation.notifyrc
konversationrc
krunnerrc
kscreenlockerrc
ksmserverrc
ksslcertificatemanager
ktimezonedrc
kwalletmanager5rc
kwalletrc
kwinrc
kwinrulesrc
kxkbrc
libaccounts-glib/
libprs500rc
libreoffice
mbsync
menus/
piglit.conf
plasma-localerc
plasma-org.kde.plasma.desktop-appletsrc*
plasmashellrc
powerdevilrc
powermanagementprofilesrc
pudb
pulse/
session/
startupconfig
startupconfigfiles
startupconfigkeys
systemsettingsrc
trashrc
