[Unit]
Description=Irssi Gnome Notifier
Wants=network-online.target
After=network-online.target network.target

[Service]
Restart=on-failure
ExecStart=/home/dylan/.local/libexec/notify-listener.py
