[Unit]
Description=Sync with IMAP server: %i
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/mbsync --config %h/.config/mbsyncrc %i
