[Unit]
Description=Sync with IMAP server: %i
Wants=network-online.target
After=network-online.target network.target

[Service]
Type=oneshot
ExecStart=/bin/mbsync --config %h/.config/mbsync/mbsyncrc %i
ExecStart=/home/dylan/.local/bin/notmuch-poll
